extends layout

block content
  
  h1 I'm Omobayode Festus.
  p a Full Stack Software Engineer
  img(src="https://lh3.googleusercontent.com/4cGqr84ivri_tvs-V7Ph3a7AEqMvZUnAvDGtptDt3KXwcqOYLRQyq6nCWXaZEF3p0wi3YUkEMj9t9ZwNmo_AoBYsX6jBDIDopR477AAjNVk6FI4a8Wi6Skw0bdWFm_U8L4uDVs3PFiIK-s10K8TEYWZwKbuKJM2X2SWdoxOjZ64N2e6i4dLbFTAG_o8ivUoKDaD66fEF8NfVO8ad-2TEqfrh3TqnPxKBwGU39lizcgEq72an_zB5OrzyyjiVEtXTLAEb_9f_4s7qUawlW9pAGzkp0lI9_c8AZOSBXB4rmr4-m-bgLR-saR3R0ZjAYlOZ_yBgg8LMrKZWjvJl9lSXxhe3DLOcyPNvyaNIxFS8XSWSaaVz6zacbQdQ_mnUnd0Yij40lpcOJs2vf16Gndg8E6Xcm2XTiuQUbneW--5n7bSFC04wr1U2u3DTmJ0Ch8w0XchOpu6-HhBAst3zvxxwuJZ0ZhkT4IbKtb8BLHyMTjrOyAkkQ0vZbJafZOWcdmWGpD9KEC5ekomMcwgdQ6F9u7hrp3-th6oY-gp0ytTCDgNXfqb-2vAEXEMKjO_dp4k7_WRpx9RgHBpL6WXuqeror97xI__yhNLDViIWZpwBzVsqcrmatMpJeqGBKnVuU6VVGN2HDRCU5yZPg0EiNcB_ByNW_DGcWT9u2tof6FZF7SnLvrK4GOdUmMWWw8vxUWAGJDqsvOvY9I92EgOwuxd2Qq6XlRrg4EarzZqocBRYblEDiwIoz9nUPPIFybwODxRdKWiQlpqVWRURi8_og1Dq2kKNewJU8TRHF5s=w327-h328-no?authuser=0", alt="omobayode")

  div 
    img(src="https://picsum.photos/id/1068/200?grayscale", alt="omobayode")
    h2 Hi.
    p I'm a full stack software engineer based in Lagos, Nigeria. I have a passion for web design and love to create beautiful websites for web and mobile devices.
  
  div 
    hr
    h2 What I can do
    div 
      img(src="https://picsum.photos/id/1068/200?grayscale", alt="Omobayode")
      div 
        h3 Design what you want.
        p I like to keep it simple. My goals are to focus on typography, content and conveying the message that you want to send.
    div 
      div
        h3 Develop what you need.
        p I'm a developer, so I know how to create your website to run across devices using the latest technologies available.
      img(src="https://picsum.photos/id/1068/200?grayscale", alt="Omobayode")

  div 
    hr
    h2 I can help.
    h3 I’m currently available for freelance work.
    p If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.
    buttoon Message Me

  

