extends layout 

block content 
  hr
  h2 What I can do
  div 
    img(src="https://picsum.photos/id/1068/200?grayscale", alt="#{title}")
    div 
      h3 Design what you want.
      p I like to keep it simple. My goals are to focus on typography, content and conveying the message that you want to send.
  div 
    div
      h3 Develop what you need.
      p I'm a developer, so I know how to create your website to run across devices using the latest technologies available.    
    img(src="https://picsum.photos/id/1068/200?grayscale", alt="#{title}")